USE [BD_SFSF]
GO
/****** Object:  StoredProcedure [dbo].[SFSF_SELECT_FILTRA_TRABJAD]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SFSF_SELECT_FILTRA_TRABJAD]  @nom varchar(60),@pat varchar(60),@mat varchar(60)
AS
BEGIN
	IF LEN(@pat)>0 AND LEN(@mat)>0 AND LEN(@nom)>0
	BEGIN
	SELECT dbo.formatea_rut(RUT) as RUT,PATERNO,MATERNO,NOMBRES FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Trabajador]
			WHERE PATERNO LIKE @pat+'%' AND MATERNO LIKE @mat+'%' AND NOMBRES LIKE @nom+'%' 
			ORDER BY PATERNO,MATERNO,NOMBRES;
	END
	ELSE IF LEN(@pat)>0 AND LEN(@nom)>0
	BEGIN
	SELECT dbo.formatea_rut(RUT) as RUT,PATERNO,MATERNO,NOMBRES FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Trabajador]
			WHERE PATERNO LIKE @pat+'%' AND NOMBRES LIKE @nom+'%' 
			ORDER BY PATERNO,MATERNO,NOMBRES;
	END
	ELSE 
	SELECT dbo.formatea_rut(RUT) as RUT,PATERNO,MATERNO,NOMBRES FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Trabajador]
			WHERE NOMBRES LIKE @nom+'%' 
			ORDER BY PATERNO,MATERNO,NOMBRES;
	
END
GO
/****** Object:  StoredProcedure [dbo].[SFSF_SELECT_TRABAJ_POR_RUT]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SFSF_SELECT_TRABAJ_POR_RUT]  @rut varchar(60)
   AS
	begin
   SELECT EM.RUT_EMPRESA,EM.NOM_EMPRESA,EM.COD_SOCIEDAD_SAP,TR.RUT,TR.NOMBRES,TR.PATERNO,TR.MATERNO,OB.COD_OBRA,OB.NOM_OBRA
  ,HT.ROL,HT.FECHA_CONTRATO,ES.COD_ESPECIALIDAD,ES.NOM_ESPECIALIDAD,ES.COD_ESP_SAP
   ,CA.COD_CATEGORIA,CA.NOM_CATEGORIA,CA.COD_CAT_SAP,CA.ABREV,HT.FECHA_FINIQUITO
   FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Historico_Trabajador] HT
   INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Empresa] EM
   ON(HT.RUT_EMPRESA=EM.RUT_EMPRESA)
   INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Obra] OB
   ON(HT.RUT_EMPRESA=OB.RUT_EMPRESA AND HT.COD_OBRA=OB.COD_OBRA)
   INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria] CA
   ON(HT.RUT_EMPRESA=CA.RUT_EMPRESA AND HT.COD_CATEGORIA=CA.COD_CATEGORIA)
   INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Especialidad] ES
   ON(HT.RUT_EMPRESA=ES.RUT_EMPRESA AND HT.COD_ESPECIALIDAD=ES.COD_ESPECIALIDAD)
   INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Trabajador] TR
   ON(HT.RUT=TR.RUT) WHERE TR.RUT=(SELECT TOP 1 RUT FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Trabajador] WHERE RUT LIKE '%'+@rut+'%')
ORDER BY HT.FECHA_CONTRATO DESC;
end;
GO
/****** Object:  StoredProcedure [dbo].[SFSF_SP_INSERT_CATEGORIA]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[SFSF_SP_INSERT_CATEGORIA] @bd nvarchar(200)
   AS
   DECLARE @sqlCommand nvarchar(4000)
   BEGIN
   
    IF COL_LENGTH('['+@bd+'].[dbo].[RH_CATEGORIA]', '[COD_CAT_SAP]') IS NOT NULL
	BEGIN
		if @bd='Dessau'
		begin
		set @sqlCommand = ' INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria]
			(	
			[COD_CATEGORIA]
			,[NOM_CATEGORIA]
			,[ABREV]
			,[COD_CAT_SAP]
			,[RUT_EMPRESA]
			) SELECT DISTINCT(RC.COD_CATEGORIA)
			,ISNULL(RC.NOM_CATEGORIA,'''+'--'+''')
			,ISNULL(RC.ABREV,SUBSTRING(RC.NOM_CATEGORIA,1,4))
			,ISNULL(RC.COD_CAT_SAP,100)
			,773301204 
			FROM [10.95.7.201].['+@bd+'].[dbo].[RH_CATEGORIA] RC 
			LEFT JOIN [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR] RH 
			ON(RC.COD_CATEGORIA=RH.COD_CATEGORIA) 
			inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA]  TC
		    ON(TC.RUT_EMPRESA=RH.RUT_EMPRESA) 
			WHERE RH.RUT_EMPRESA IS NOT NULL AND 
			NOT EXISTS(SELECT *
			FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria] CA
			WHERE CA.RUT_EMPRESA=773301204 AND CA.COD_CATEGORIA=RH.COD_CATEGORIA)
			ORDER BY RC.COD_CATEGORIA';
		end
		 ELSE IF @bd='centralizacion'
   BEGIN
   set @sqlCommand = ' INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria]
			(	
			[COD_CATEGORIA]
			,[NOM_CATEGORIA]
			,[ABREV]
			,[COD_CAT_SAP]
			,[RUT_EMPRESA]
			) SELECT DISTINCT(RC.COD_CATEGORIA)
			,ISNULL(RC.NOM_CATEGORIA,'''+'--'+''')
			,ISNULL(RC.ABREV,SUBSTRING(RC.NOM_CATEGORIA,1,4))
			,ISNULL(RC.COD_CAT_SAP,100)
			,TC.RUT_EMPRESA
			FROM [10.95.7.201].['+@bd+'].[dbo].[RH_CATEGORIA] RC 
			LEFT JOIN [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR_OLD] RH 
			ON(RC.COD_CATEGORIA=RH.COD_CATEGORIA) 
			inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA]  TC
		    ON(TC.RUT_EMPRESA=RH.RUT_EMPRESA) 
			WHERE RH.RUT_EMPRESA IS NOT NULL AND 
			NOT EXISTS(SELECT *
			FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria] CA
			WHERE CA.RUT_EMPRESA=RH.RUT_EMPRESA AND CA.COD_CATEGORIA=RH.COD_CATEGORIA)
			ORDER BY RC.COD_CATEGORIA';
   end
		else
		begin
		set @sqlCommand = ' INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria]
			(	
			[COD_CATEGORIA]
			,[NOM_CATEGORIA]
			,[ABREV]
			,[COD_CAT_SAP]
			,[RUT_EMPRESA]
			) SELECT DISTINCT(RC.COD_CATEGORIA)
			,ISNULL(RC.NOM_CATEGORIA,'''+'--'+''')
			,ISNULL(RC.ABREV,SUBSTRING(RC.NOM_CATEGORIA,1,4))
			,ISNULL(RC.COD_CAT_SAP,100)
			,TC.RUT_EMPRESA
			FROM [10.95.7.201].['+@bd+'].[dbo].[RH_CATEGORIA] RC 
			LEFT JOIN [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR] RH 
			ON(RC.COD_CATEGORIA=RH.COD_CATEGORIA) 
			inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA]  TC
		    ON(TC.RUT_EMPRESA=RH.RUT_EMPRESA) 
			WHERE RH.RUT_EMPRESA IS NOT NULL AND 
			NOT EXISTS(SELECT *
			FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria] CA
			WHERE CA.RUT_EMPRESA=RH.RUT_EMPRESA AND CA.COD_CATEGORIA=RH.COD_CATEGORIA)
			ORDER BY RC.COD_CATEGORIA';
		end

			
	END
	ELSE
	BEGIN
		if @bd='Dessau'
		begin
		set @sqlCommand = ' INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria]
			(	
			[COD_CATEGORIA]
			,[NOM_CATEGORIA]
			,[ABREV]
			,[COD_CAT_SAP]
			,[RUT_EMPRESA]
			) SELECT DISTINCT(RC.COD_CATEGORIA)
			,ISNULL(RC.NOM_CATEGORIA,'''+'--'+''')
			,ISNULL(RC.ABREV,SUBSTRING(RC.NOM_CATEGORIA,1,4))
			,'''+'--'+'''
			,773301204
			FROM [10.95.7.201].['+@bd+'].[dbo].[RH_CATEGORIA] RC 
			LEFT JOIN [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR] RH 
			ON(RC.COD_CATEGORIA=RH.COD_CATEGORIA) 
			inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA]  TC
		    ON(TC.RUT_EMPRESA=RH.RUT_EMPRESA) 
			WHERE RH.RUT_EMPRESA IS NOT NULL AND 
			NOT EXISTS(SELECT *
			FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria] CA
			WHERE CA.RUT_EMPRESA=773301204 AND CA.COD_CATEGORIA=RH.COD_CATEGORIA)
			ORDER BY RC.COD_CATEGORIA';
		end
		ELSE IF @bd='centralizacion'
   BEGIN
   set @sqlCommand = ' INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria]
			(	
			[COD_CATEGORIA]
			,[NOM_CATEGORIA]
			,[ABREV]
			,[COD_CAT_SAP]
			,[RUT_EMPRESA]
			) SELECT DISTINCT(RC.COD_CATEGORIA)
			,ISNULL(RC.NOM_CATEGORIA,'''+'--'+''')
			,ISNULL(RC.ABREV,SUBSTRING(RC.NOM_CATEGORIA,1,4))
			,'''+'--'+'''
			,RH.RUT_EMPRESA
			FROM [10.95.7.201].['+@bd+'].[dbo].[RH_CATEGORIA] RC 
			LEFT JOIN [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR_OLD] RH 
			ON(RC.COD_CATEGORIA=RH.COD_CATEGORIA) 
			inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA]  TC
		    ON(TC.RUT_EMPRESA=RH.RUT_EMPRESA) 
			WHERE RH.RUT_EMPRESA IS NOT NULL AND 
			NOT EXISTS(SELECT *
			FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria] CA
			WHERE CA.RUT_EMPRESA=RH.RUT_EMPRESA AND CA.COD_CATEGORIA=RH.COD_CATEGORIA)
			ORDER BY RC.COD_CATEGORIA';
   end
		else
		begin
		set @sqlCommand = ' INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria]
			(	
			[COD_CATEGORIA]
			,[NOM_CATEGORIA]
			,[ABREV]
			,[COD_CAT_SAP]
			,[RUT_EMPRESA]
			) SELECT DISTINCT(RC.COD_CATEGORIA)
			,ISNULL(RC.NOM_CATEGORIA,'''+'--'+''')
			,ISNULL(RC.ABREV,SUBSTRING(RC.NOM_CATEGORIA,1,4))
			,'''+'--'+'''
			,RH.RUT_EMPRESA
			FROM [10.95.7.201].['+@bd+'].[dbo].[RH_CATEGORIA] RC 
			LEFT JOIN [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR] RH 
			ON(RC.COD_CATEGORIA=RH.COD_CATEGORIA) 
			inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA]  TC
		    ON(TC.RUT_EMPRESA=RH.RUT_EMPRESA) 
			WHERE RH.RUT_EMPRESA IS NOT NULL AND 
			NOT EXISTS(SELECT *
			FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria] CA
			WHERE CA.RUT_EMPRESA=RH.RUT_EMPRESA AND CA.COD_CATEGORIA=RH.COD_CATEGORIA)
			ORDER BY RC.COD_CATEGORIA';
			end
	
		END
   EXECUTE sp_executesql @sqlCommand;
   END;


GO
/****** Object:  StoredProcedure [dbo].[SFSF_SP_INSERT_EMPRESAS]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[SFSF_SP_INSERT_EMPRESAS] @bd nvarchar(200)
   AS
   DECLARE @sqlCommand nvarchar(4000)
   BEGIN
   IF @bd='Dessau'
   begin
   set @sqlCommand = 'INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Empresa]
	([RUT_EMPRESA]
	,[NOM_EMPRESA]
	,[COD_SOCIEDAD_SAP]
	) 
  SELECT 773301204,
	HT.NOM_EMPRESA
	,HT.COD_SOCIEDAD_SAP  
  FROM [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA] AS HT
  WHERE NOT EXISTS(SELECT * FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Empresa] OB
  WHERE OB.RUT_EMPRESA=773301204 )';
   end
   else
   begin
    set @sqlCommand = 'INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Empresa]
	([RUT_EMPRESA]
	,[NOM_EMPRESA]
	,[COD_SOCIEDAD_SAP]
	) 
  SELECT DISTINCT(HT.RUT_EMPRESA)
	,HT.NOM_EMPRESA
	,HT.COD_SOCIEDAD_SAP  
  FROM [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA] AS HT
  WHERE NOT EXISTS(SELECT * FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Empresa] OB
  WHERE OB.RUT_EMPRESA=HT.RUT_EMPRESA )';
   end
  EXECUTE sp_executesql @sqlCommand;
  END;

GO
/****** Object:  StoredProcedure [dbo].[SFSF_SP_INSERT_ESPECIALIDAD]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   CREATE PROCEDURE [dbo].[SFSF_SP_INSERT_ESPECIALIDAD] @bd nvarchar(200)
   AS
   DECLARE @sqlCommand nvarchar(4000)
   BEGIN
   IF @bd='Dessau'
   BEGIN
			 set @sqlCommand = ' INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Especialidad]
			(	[RUT_EMPRESA]
			  ,[COD_ESPECIALIDAD]
			  ,[NOM_ESPECIALIDAD]
			  ,[COD_ESP_SAP]
				) SELECT DISTINCT(773301204)
			 ,RE.COD_ESPECIALIDAD
			 ,ISNULL(RE.NOM_ESPECIALIDAD,'''+'ESPEC S/N'+''') AS NOMBRE_ESPECIALIDAD
			,ISNULL(RE.COD_ESP_SAP,'''+'N/A'+''') AS COD_ESP_SAP
			 FROM [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR] TE
			 inner JOIN [10.95.7.201].['+@bd+'].[dbo].[RH_ESPECIALIDAD] RE 
			 ON (TE.COD_ESPECIALIDAD=RE.COD_ESPECIALIDAD)
			 inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA]  TC
			 ON(TC.RUT_EMPRESA=TE.RUT_EMPRESA) 
			 WHERE RE.COD_ESPECIALIDAD IS NOT NULL AND NOT EXISTS
			 (SELECT * FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Especialidad] ES
			 WHERE ES.RUT_EMPRESA=773301204 AND ES.COD_ESPECIALIDAD=TE.COD_ESPECIALIDAD )
			 ORDER BY RE.COD_ESPECIALIDAD ASC';
   END
    ELSE IF @bd='centralizacion'
   BEGIN
  set @sqlCommand = ' INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Especialidad]
				(	[RUT_EMPRESA]
				  ,[COD_ESPECIALIDAD]
				  ,[NOM_ESPECIALIDAD]
				  ,[COD_ESP_SAP]
				) SELECT DISTINCT(TE.[RUT_EMPRESA])
			  ,RE.COD_ESPECIALIDAD
			  ,ISNULL(RE.NOM_ESPECIALIDAD,'''+'ESPEC S/N'+''') AS NOMBRE_ESPECIALIDAD
			  ,ISNULL(RE.COD_ESP_SAP,'''+'N/A'+''') AS COD_ESP_SAP
			  FROM [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR_OLD] TE
			  inner JOIN [10.95.7.201].['+@bd+'].[dbo].[RH_ESPECIALIDAD] RE 
			  ON (TE.COD_ESPECIALIDAD=RE.COD_ESPECIALIDAD)
			  inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA]  TC
			  ON(TC.RUT_EMPRESA=TE.RUT_EMPRESA) 
			  WHERE RE.COD_ESPECIALIDAD IS NOT NULL AND NOT EXISTS
			  (SELECT * FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Especialidad] ES
			  WHERE ES.RUT_EMPRESA=TE.RUT_EMPRESA AND ES.COD_ESPECIALIDAD=TE.COD_ESPECIALIDAD )
			  ORDER BY RE.COD_ESPECIALIDAD ASC';
   END
   ELSE
   BEGIN
   			   set @sqlCommand = ' INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Especialidad]
				(	[RUT_EMPRESA]
				  ,[COD_ESPECIALIDAD]
				  ,[NOM_ESPECIALIDAD]
				  ,[COD_ESP_SAP]
				) SELECT DISTINCT(TE.[RUT_EMPRESA])
			  ,RE.COD_ESPECIALIDAD
			  ,ISNULL(RE.NOM_ESPECIALIDAD,'''+'ESPEC S/N'+''') AS NOMBRE_ESPECIALIDAD
			  ,ISNULL(RE.COD_ESP_SAP,'''+'N/A'+''') AS COD_ESP_SAP
			  FROM [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR] TE
			  inner JOIN [10.95.7.201].['+@bd+'].[dbo].[RH_ESPECIALIDAD] RE 
			  ON (TE.COD_ESPECIALIDAD=RE.COD_ESPECIALIDAD)
			  inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA]  TC
			  ON(TC.RUT_EMPRESA=TE.RUT_EMPRESA) 
			  WHERE RE.COD_ESPECIALIDAD IS NOT NULL AND NOT EXISTS
			  (SELECT * FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Especialidad] ES
			  WHERE ES.RUT_EMPRESA=TE.RUT_EMPRESA AND ES.COD_ESPECIALIDAD=TE.COD_ESPECIALIDAD )
			  ORDER BY RE.COD_ESPECIALIDAD ASC';
   END
  EXECUTE sp_executesql @sqlCommand;
   END;
GO
/****** Object:  StoredProcedure [dbo].[SFSF_SP_INSERT_HIST_TRABAJA]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   CREATE PROCEDURE [dbo].[SFSF_SP_INSERT_HIST_TRABAJA] @bd nvarchar(200)
    AS
   DECLARE @sqlCommand nvarchar(4000)
   BEGIN
   IF @bd='centralizacion'
   BEGIN
   set @sqlCommand = N'INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Historico_Trabajador]'
	+' ([RUT_EMPRESA] ,[RUT] ,[COD_OBRA] ,[ROL] ,[FECHA_CONTRATO] ,[COD_ESPECIALIDAD] ,[COD_CATEGORIA] ,[FECHA_FINIQUITO]'
	+')SELECT EM.RUT_EMPRESA,HT.RUT,OB.COD_OBRA,HT.ROL,HT.FECHA_CONTRATO,HT.COD_ESPECIALIDAD,CA.COD_CATEGORIA,HT.FECHA_FINIQUITO'
	+' FROM [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR_OLD] HT'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Empresa] EM'
    +' ON(HT.RUT_EMPRESA=EM.RUT_EMPRESA)'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Obra] OB'
    +' ON(HT.RUT_EMPRESA=OB.RUT_EMPRESA AND HT.COD_OBRA=OB.COD_OBRA)'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria] CA'
    +' ON(HT.RUT_EMPRESA=CA.RUT_EMPRESA AND HT.COD_CATEGORIA=CA.COD_CATEGORIA)'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Especialidad] ES'
    +' ON(HT.RUT_EMPRESA=ES.RUT_EMPRESA AND HT.COD_ESPECIALIDAD=ES.COD_ESPECIALIDAD)'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Trabajador] TR'
    +' ON(HT.RUT=TR.RUT) WHERE NOT EXISTS (SELECT * FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Historico_Trabajador] HH'
    +' WHERE HH.RUT_EMPRESA =HT.RUT_EMPRESA AND HH.RUT=HT.RUT AND HH.ROL=HT.ROL'
    +' AND HH.FECHA_CONTRATO=HT.FECHA_CONTRATO AND HH.COD_OBRA=HT.COD_OBRA'
    +' AND HH.COD_ESPECIALIDAD=HT.COD_ESPECIALIDAD AND HH.COD_CATEGORIA=HT.COD_CATEGORIA) ';
   END
   ELSE IF @bd='Dessau'
   BEGIN
      set @sqlCommand = N'INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Historico_Trabajador]'
	+' ([RUT_EMPRESA] ,[RUT] ,[COD_OBRA] ,[ROL] ,[FECHA_CONTRATO] ,[COD_ESPECIALIDAD] ,[COD_CATEGORIA] ,[FECHA_FINIQUITO]'
	+')SELECT DISTINCT(773301204),HT.RUT,OB.COD_OBRA,HT.ROL,HT.FECHA_CONTRATO,HT.COD_ESPECIALIDAD,CA.COD_CATEGORIA,HT.FECHA_FINIQUITO'
	+' FROM [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR] HT'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Empresa] EM'
    +' ON(HT.RUT_EMPRESA=766624901)'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Obra] OB'
    +' ON(HT.RUT_EMPRESA=766624901 AND HT.COD_OBRA=OB.COD_OBRA)'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria] CA'
    +' ON(HT.RUT_EMPRESA=766624901 AND HT.COD_CATEGORIA=CA.COD_CATEGORIA)'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Especialidad] ES'
    +' ON(HT.RUT_EMPRESA=766624901 AND HT.COD_ESPECIALIDAD=ES.COD_ESPECIALIDAD)'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Trabajador] TR'
    +' ON(HT.RUT=TR.RUT) WHERE NOT EXISTS (SELECT * FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Historico_Trabajador] HH'
    +' WHERE HH.RUT_EMPRESA =773301204 AND HH.RUT=HT.RUT AND HH.ROL=HT.ROL'
    +' AND HH.FECHA_CONTRATO=HT.FECHA_CONTRATO AND HH.COD_OBRA=HT.COD_OBRA'
    +' AND HH.COD_ESPECIALIDAD=HT.COD_ESPECIALIDAD AND HH.COD_CATEGORIA=HT.COD_CATEGORIA) ';
   END
   ELSE
   BEGIN
      set @sqlCommand = N'INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Historico_Trabajador]'
	+' ([RUT_EMPRESA] ,[RUT] ,[COD_OBRA] ,[ROL] ,[FECHA_CONTRATO] ,[COD_ESPECIALIDAD] ,[COD_CATEGORIA] ,[FECHA_FINIQUITO]'
	+')SELECT EM.RUT_EMPRESA,HT.RUT,OB.COD_OBRA,HT.ROL,HT.FECHA_CONTRATO,HT.COD_ESPECIALIDAD,CA.COD_CATEGORIA,HT.FECHA_FINIQUITO'
	+' FROM [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR] HT'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Empresa] EM'
    +' ON(HT.RUT_EMPRESA=EM.RUT_EMPRESA)'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Obra] OB'
    +' ON(HT.RUT_EMPRESA=OB.RUT_EMPRESA AND HT.COD_OBRA=OB.COD_OBRA)'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Categoria] CA'
    +' ON(HT.RUT_EMPRESA=CA.RUT_EMPRESA AND HT.COD_CATEGORIA=CA.COD_CATEGORIA)'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Especialidad] ES'
    +' ON(HT.RUT_EMPRESA=ES.RUT_EMPRESA AND HT.COD_ESPECIALIDAD=ES.COD_ESPECIALIDAD)'
    +' INNER JOIN [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Trabajador] TR'
    +' ON(HT.RUT=TR.RUT) WHERE NOT EXISTS (SELECT * FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Historico_Trabajador] HH'
    +' WHERE HH.RUT_EMPRESA =HT.RUT_EMPRESA AND HH.RUT=HT.RUT AND HH.ROL=HT.ROL'
    +' AND HH.FECHA_CONTRATO=HT.FECHA_CONTRATO AND HH.COD_OBRA=HT.COD_OBRA'
    +' AND HH.COD_ESPECIALIDAD=HT.COD_ESPECIALIDAD AND HH.COD_CATEGORIA=HT.COD_CATEGORIA) ';
   END
   EXECUTE sp_executesql @sqlCommand;
   END;
GO
/****** Object:  StoredProcedure [dbo].[SFSF_SP_INSERT_OBRAS]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[SFSF_SP_INSERT_OBRAS] @bd nvarchar(200)
   AS
   DECLARE @sqlCommand nvarchar(4000)
   BEGIN
   IF @bd='Dessau'
   BEGIN
   set @sqlCommand = 'INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Obra]
	(	
      [COD_OBRA]
      ,[NOM_OBRA]
	  ,[RUT_EMPRESA]
	) SELECT DISTINCT(RH.COD_OBRA)
	,ISNULL(TC.NOM_OBRA
	,CONCAT(RH.COD_OBRA,'''+'-ICSK_OBRA'+''')) 
	,773301204
  FROM [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR] RH
  inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_OBRA] TC 
  ON(RH.COD_OBRA=TC.COD_OBRA)
  inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA]  TE
  ON(TE.RUT_EMPRESA=RH.RUT_EMPRESA) 
  WHERE NOT EXISTS (SELECT * FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Obra] OB
  WHERE OB.RUT_EMPRESA=773301204 AND OB.COD_OBRA=RH.COD_OBRA ) 
  ORDER BY RH.COD_OBRA';
   END
   ELSE IF @bd='centralizacion'
   BEGIN
   set @sqlCommand = 'INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Obra]
	(	
      [COD_OBRA]
      ,[NOM_OBRA]
	  ,[RUT_EMPRESA]
	) SELECT DISTINCT(RH.COD_OBRA)
	,ISNULL(TC.NOM_OBRA
	,CONCAT(RH.COD_OBRA,'''+'-ICSK_OBRA'+''')) 
	,RH.RUT_EMPRESA
  FROM [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR_OLD] RH
  inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_OBRA] TC 
  ON(RH.COD_OBRA=TC.COD_OBRA)
  inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA]  TE
  ON(TE.RUT_EMPRESA=RH.RUT_EMPRESA) 
  WHERE NOT EXISTS (SELECT * FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Obra] OB
  WHERE OB.RUT_EMPRESA=RH.RUT_EMPRESA AND OB.COD_OBRA=RH.COD_OBRA ) 
  ORDER BY RH.COD_OBRA';
   END
   ELSE
   BEGIN
		set @sqlCommand = 'INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Obra]
	(	
      [COD_OBRA]
      ,[NOM_OBRA]
	  ,[RUT_EMPRESA]
	) SELECT DISTINCT(RH.COD_OBRA)
	,ISNULL(TC.NOM_OBRA
	,CONCAT(RH.COD_OBRA,'''+'-ICSK_OBRA'+''')) 
	,RH.RUT_EMPRESA
  FROM [10.95.7.201].['+@bd+'].[dbo].[RRHH_HISTORICO_TRABAJADOR] RH
  inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_OBRA] TC 
  ON(RH.COD_OBRA=TC.COD_OBRA)
  inner JOIN [10.95.7.201].['+@bd+'].[dbo].[TC_EMPRESA]  TE
  ON(TE.RUT_EMPRESA=RH.RUT_EMPRESA) 
  WHERE NOT EXISTS (SELECT * FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Obra] OB
  WHERE OB.RUT_EMPRESA=RH.RUT_EMPRESA AND OB.COD_OBRA=RH.COD_OBRA ) 
  ORDER BY RH.COD_OBRA';
   END
    
  EXECUTE sp_executesql @sqlCommand;
   END;
GO
/****** Object:  StoredProcedure [dbo].[SFSF_SP_INSERT_TRABAJADOR]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SFSF_SP_INSERT_TRABAJADOR] @bd nvarchar(200)
   AS
   DECLARE @sqlCommand nvarchar(4000)
   BEGIN
  set @sqlCommand = 'INSERT INTO [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Trabajador]
	(	[RUT]
	  ,[PATERNO]
      ,[MATERNO]
      ,[NOMBRES]
	) SELECT 
	DISTINCT(RT.RUT)
	,ISNULL(RT.PATERNO,'''+'N/A'+''')
	,ISNULL(RT.MATERNO,'''+'N/A'+''')
	,ISNULL(RT.NOMBRES,'''+'N/A'+''')
   FROM [10.95.7.201].['+@bd+'].[dbo].[RH_TRABAJADOR] RT 
   WHERE NOT EXISTS (SELECT RM.RUT,RM.PATERNO,RM.MATERNO,RT.NOMBRES 
   FROM [(localdb)\MyInstance].[BD_SFSF].[dbo].[SFSF_Trabajador] RM WHERE RM.RUT=RT.RUT) 
   ORDER BY RT.RUT ASC';
     EXECUTE sp_executesql @sqlCommand;
   END;
GO
/****** Object:  UserDefinedFunction [dbo].[formatea_rut]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[formatea_rut](@rut varchar(9))
RETURNS char(12)
AS

BEGIN
 DECLARE @resultado varchar(12)
 DECLARE @i tinyint

 SET @resultado = ''
 SET @rut = REVERSE(@rut)
 SET @i = 1
 WHILE @i <= LEN(@rut)
  BEGIN
   IF (@i = 1)
    SET @resultado = '-' + LEFT(@rut, 1)
   ELSE
    BEGIN
     IF (@i <> 5 AND @i < 8) SET @resultado = SUBSTRING(@rut, @i, 1) +
@resultado
     IF (@i = 5 Or @i = 8) SET @resultado = SUBSTRING(@rut, @i, 1) + '.' +
@resultado
     IF (@i = 9) SET @resultado = RIGHT(@rut, 1) + @resultado
    END
   SET @i = @i + 1
  END
 RETURN @resultado
END
GO
/****** Object:  Table [dbo].[SFSF_Categoria]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SFSF_Categoria](
	[RUT_EMPRESA] [char](9) NOT NULL,
	[COD_CATEGORIA] [int] NOT NULL,
	[NOM_CATEGORIA] [varchar](100) NOT NULL,
	[ABREV] [varchar](5) NOT NULL,
	[COD_CAT_SAP] [varchar](3) NOT NULL,
 CONSTRAINT [PK_SFSF_Categoria] PRIMARY KEY CLUSTERED 
(
	[RUT_EMPRESA] ASC,
	[COD_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SFSF_Empresa]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SFSF_Empresa](
	[RUT_EMPRESA] [char](9) NOT NULL,
	[NOM_EMPRESA] [varchar](100) NOT NULL,
	[COD_SOCIEDAD_SAP] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SFSF_Empresa] PRIMARY KEY CLUSTERED 
(
	[RUT_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SFSF_Especialidad]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SFSF_Especialidad](
	[RUT_EMPRESA] [char](9) NOT NULL,
	[COD_ESPECIALIDAD] [int] NOT NULL,
	[NOM_ESPECIALIDAD] [varchar](50) NOT NULL,
	[COD_ESP_SAP] [varchar](8) NOT NULL,
 CONSTRAINT [PK_SFSF_Especialidad_1] PRIMARY KEY CLUSTERED 
(
	[RUT_EMPRESA] ASC,
	[COD_ESPECIALIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SFSF_Historico_Trabajador]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SFSF_Historico_Trabajador](
	[RUT_EMPRESA] [char](9) NOT NULL,
	[RUT] [char](9) NOT NULL,
	[COD_OBRA] [int] NOT NULL,
	[FECHA_CONTRATO] [datetime] NOT NULL,
	[ROL] [bigint] NOT NULL,
	[COD_ESPECIALIDAD] [int] NOT NULL,
	[COD_CATEGORIA] [int] NOT NULL,
	[FECHA_FINIQUITO] [datetime] NULL,
 CONSTRAINT [PK_SFSF_Historico_Trabajador] PRIMARY KEY CLUSTERED 
(
	[RUT_EMPRESA] ASC,
	[RUT] ASC,
	[COD_OBRA] ASC,
	[FECHA_CONTRATO] ASC,
	[ROL] ASC,
	[COD_ESPECIALIDAD] ASC,
	[COD_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SFSF_Obra]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SFSF_Obra](
	[RUT_EMPRESA] [char](9) NOT NULL,
	[COD_OBRA] [int] NOT NULL,
	[NOM_OBRA] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SFSF_Obra_1] PRIMARY KEY CLUSTERED 
(
	[RUT_EMPRESA] ASC,
	[COD_OBRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SFSF_Trabajador]    Script Date: 30-01-2018 17:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SFSF_Trabajador](
	[RUT] [char](9) NOT NULL,
	[PATERNO] [varchar](20) NOT NULL,
	[MATERNO] [varchar](20) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SFSF_Trabajador] PRIMARY KEY CLUSTERED 
(
	[RUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SFSF_Categoria]  WITH CHECK ADD  CONSTRAINT [FK_SFSF_Categoria_SFSF_Empresa] FOREIGN KEY([RUT_EMPRESA])
REFERENCES [dbo].[SFSF_Empresa] ([RUT_EMPRESA])
GO
ALTER TABLE [dbo].[SFSF_Categoria] CHECK CONSTRAINT [FK_SFSF_Categoria_SFSF_Empresa]
GO
ALTER TABLE [dbo].[SFSF_Especialidad]  WITH CHECK ADD  CONSTRAINT [FK_SFSF_Especialidad_SFSF_Empresa] FOREIGN KEY([RUT_EMPRESA])
REFERENCES [dbo].[SFSF_Empresa] ([RUT_EMPRESA])
GO
ALTER TABLE [dbo].[SFSF_Especialidad] CHECK CONSTRAINT [FK_SFSF_Especialidad_SFSF_Empresa]
GO
ALTER TABLE [dbo].[SFSF_Obra]  WITH CHECK ADD  CONSTRAINT [FK_SFSF_Obra_SFSF_Empresa] FOREIGN KEY([RUT_EMPRESA])
REFERENCES [dbo].[SFSF_Empresa] ([RUT_EMPRESA])
GO
ALTER TABLE [dbo].[SFSF_Obra] CHECK CONSTRAINT [FK_SFSF_Obra_SFSF_Empresa]
GO
