<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <!-- AUTENTICACION -->
      <authentication mode="Forms">
        <forms loginUrl="Login.aspx"
               defaultUrl="Index.aspx"
               name="adAuthCookie"
               timeout="10"
               path="/"></forms>
      </authentication>
      <!-- AUTORIZACION -->
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>

</configuration>
